<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-EN5XLSSXVC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-EN5XLSSXVC');
</script>

<!-- You can set your favicon here -->
<link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
<!-- <link rel="icon" type="image/x-icon" href="/images/favicon.ico"> -->

<!-- end custom head snippets -->
